{% extends 'headerPage.html' %}

{% block content%}

    <h2>Uplaod image for Prediction</h2>

    
    <br>
   
    <form method="post" enctype="multipart/form-data" action="predictImage">
  
        {% csrf_token %}
        <div class="col-md-4 col-sm-4 custom-file">
            <label for="fname">Upload Image File Here:</label> 
         
            <input name="filePath" type="file" class="custom-file-input" id="customFile"><br><br>
            <label class="custom-file-label" for="customFile">Choose file</label>

        </div>    
        <br>

                    
        <button type="submit" class="btn btn-primary mb-2" value="Submit">Submit</button>
        <br>
        <img src={{filePathName}} class="img-fluid" alt="Responsive image" height=150, width=150>
        {{filePathName}}
        <br>
        <h2>The predicted number from the image is {{predi}}</h2>

    </form>
<br>


{% endblock %}