  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='img/favicon.png') }}">
  <title>Machine Learning Labs</title>
  <!-- Bootstrap Core CSS -->
  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- chartist CSS -->
  <link href="{{ url_for('static',filename='plugins/chartist-js/dist/chartist.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/chartist-js/dist/chartist-init.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/css-chart/css-chart.css') }}" rel="stylesheet">
  <!--This page css - Morris CSS -->
  <link href="{{ url_for('static',filename='plugins/c3-master/c3.min.css') }}" rel="stylesheet">
  <!-- Vector CSS -->
  <link href="{{ url_for('static',filename='plugins/vectormap/jquery-jvectormap-2.0.2.css') }}" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
  <!-- You can change the theme colors from here -->
  <link href="{{ url_for('static',filename='css/colors/blue.css') }}" id="theme" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/js/bootstrap.min.js') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/js/bootstrap.js') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/js/tether.js') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap.css.map') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap.min.css.map') }}" rel="stylesheet">

  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap-grid.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap-grid.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap-grid.min.css.map') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap-grid.css,map') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap-reboot.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap-reboot.css.map') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap-reboot.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='plugins/bootstrap/css/bootstrap-reboot.min.css.map') }}" rel="stylesheet">
  <!-- CSS Files -->
  <link href="{{ url_for('static',filename='css/material-kit.css?v=2.2.0') }}" rel="stylesheet" />
  



  
          
